body{
   /* background-color:#474448 */
   background-color: #282C35;
   font-family: 'Noto Sans JP', sans-serif;
  }


.top-section {
   position:relative;
   padding: 0px !important;     
}
/* .logo{
  width: 5%;
  position: absolute;
  top: -47%;
  left: 0%;
} */



.navbar {
   position:absolute;
   top:30px;
   z-index:10;
   background:transparent !important;
   width:100%;
   font-size:1.3rem;
   letter-spacing: 0.2rem;
 
  font-weight: 400;
}
.navbar-nav .nav-link{
  color: white!important;
  transition:color 0.5s ease;
 
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #DEB841!important;

}
.custom-carousel{
  background: url("./Img/bg.png");
  height:100vh;
  background-size: cover;
  
}
.carousel-content{
position: absolute;
top:0px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
}

.carousel-content .subtitle{
  font-family: 'Dancing Script', cursive;
  color:#F5F4F5;
  /* background-color: #000000; */
 font-size:4vw;
 -webkit-text-stroke: 0.5px #DEB841; 
}

.carousel-content .title{
  font-family: 'Nunito', sans-serif;
  color:#F5F4F5;
  font-size:8vw;
}

.neon {
  color: #FFFFFC;
  text-shadow:
    0 0 5px #FFFFFC,
    0 0 40px #f0e56e,
    0 0 80px #f0e56e,
    0 0 120px #f0e56e;
}
/* .neon1 {
  color: #FFFFFC;
  text-shadow:
    0 0 5px #FFFFFC,
    0 0 40px #f0e56e,
    0 0 120px #f0e56e;

} */

.container-title{
   margin-top: 3rem;
   /* color:#F5F4F5; */
   color:#DEB841;
   word-spacing: 1rem;
   letter-spacing: 0.5rem;
   -webkit-text-stroke: 0.5px #DEB841;
   font-family: 'Dancing Script', cursive;
}

.carousel .carousel-item {
   height: 100vh;
 }
 
 .carousel-item img {
     position: absolute;
     object-fit:cover;
     top: 0;
     left: 0;
     min-height: 100vh;
 }

 .card-home {
   width:25rem !important;
   background: transparent;
   border: none !important;
   padding:1.5rem;
  
 }

 .card-img-top{
   border-radius: 8px;

 }
 
 .homecardheadtitle{
  font-family: 'Nunito', sans-serif;
  color:#F5F4F5;
  font-size: 2.8rem;
 }
 .homeheading{
   color:#BEB7A4;
  font-family: 'Dancing Script', cursive;
  margin:3.5rem;
  font-size: 2rem;
  }
  .headtitle{
    color:#F5F5F5;
    font-family:'Dancing Script', cursive;
    font-size:5rem;
     }
 .card-heading{
   color:#F5F5F5;
 }

 .card-title{
   font-style: normal;
   font-weight: bold;
   font-size: 3rem;
   line-height: 56px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   letter-spacing: 0.2rem;
    color: #FFFFFC;
 }

 .card-text{

   font-weight: 300;
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   text-align: left;
   color: #BEB7A4;
 }
.card-img-top{
  transition: transform .3s ease; 
}
.card-img-top:hover{
  transform: scale(1.2);
}
.tipsheading{
  font-family: 'Dancing Script', cursive;}
  .tipscontent {
    font-family: 'Nunito', sans-serif;
    color:black;
    font-size:1.15rem;
}
.tipdiv{
  color:#FFFFFC;
  border:1px solid black;
  margin-bottom:2rem;
  padding:2rem;
  background-color:#BEB7A4 ;
  border-radius: 10px;
   }
   .disappear{
    display:none !important;
  }
  .block {
    display: inline;
  }
  .footerlink li a{
    color: #282C35;
  }
  
.swiper-slide{
  transition: transform .3s ease; 
}
.swiper-slide:hover{
  transform: scale(1.2);
}
 /* swiper css */
 .swiper-container {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  
  border-radius: 12px;
  /* Center slide text vertically */
  display: flex;
}


.swiper-custom
{
height:20rem;
margin :1rem
}
.swiper-heading{
  margin-bottom: 4rem;
  font-family: 'Dancing Script', cursive;
  font-size:3rem;
  color:#FFFFFC;
}

.slider-img{
  height: 100%;
}

.slider-img img{
  display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  border-radius: 25px;
}

.slider-content{
  padding: 0 20px;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30.59%, #000000 100%);
  text-decoration: none;
}

.slider-content:hover{
  color: white !important;
}


.slider-heading{
  color:FFFFFC;
}

.footerimg{
  width: 60%;
  
}
.footer-custom{
background-color:#DCDCDC ;
}
.footer-copyright{
  background-color:#282C35;
  color:#FFFFFC;
}
.btn-submit{
  background-color: #DEB841;
}

/* Eat and drink */

.barimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-bars{
  border:3px solid black;
 
}
/*Clubbing
.holdingcontainer{
  padding: 150px;
  color: white;
  margin-top: 100px;
}
@include media-breakpoint-down(md) {
  .custom-class {
    display: block;
  }
  */

.card-title{
 color: #282C35 ;
  font-family: 'Noto Sans JP', sans-serif;
  font-size:2rem
 }
 .bar-content{
  color: #282C35;
  font-family: 'Noto Sans JP', sans-serif;
 }

 .img-club{
   width:100%;
   object-fit: cover;
 }
.clubbingbutton{
  background-color: 	#E0E0E0 ;
  border-color: 	#E0E0E0; 
}
 
